$primary: red;
$secondary: #3F3F3F;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.bg-header {
    background-image: url(../imgs/Rectangle\ 36.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.py30 {
    padding-bottom: 80px;
}
.py80 {
    padding-top: 80px;
}
.pad5 {
    padding: 70px 0px;
}
.my50 {
    margin: 50px 0;
}
.stat p{
    margin: 0;
}
.stat div p:first-child {
    font-weight: 900;
    font-size: 80px;
    color: #9c9c9c;
}
.bg-cont {
    background: #ECECEC;
}
.footH {
    padding: 20px 0px;
    min-height: 300px;
}